#primer-checkout-scene-credit-card-form iframe {
  height: 48px !important;
}

#primer-checkout-credit-card-button {
  height: 48px !important;
  color: rgb(255 255 255 / 0.8);
  background: #0066CC;
  border-radius: 6px;
}

#primer-checkout-payment-method-scene-header {
  margin-bottom: 0;
  padding-bottom: 4px;
}

#primer-checkout-scene-credit-card-form {
  padding-bottom: 10px !important;
}

#primer-checkout-credit-card-button,
#primer-checkout-submit-button {
  position: relative !important;
  max-height: 40px !important;
  background: #0066CC !important;
  font-size: 18px !important;
}

#primer-checkout-submit-button #primer-checkout-submit-button-loading {
  display: none;
  position: absolute !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 0;
}

#primer-checkout-submit-button[loading='true'] {
  color: #006666 !important;
}

#primer-checkout-submit-button[loading='true'] #primer-checkout-submit-button-loading {
  display: block;
  color: #ffffff;
}

#primer-checkout-submit-button-container,
#primer-checkout-credit-card-button,
#primer-checkout-apm-googlePay {
  height: 40px !important;
  color: #fff !important;
}

#primer-checkout-credit-card-button span {
  padding-bottom: 2px;
  font-size: 15px !important;
}

.gpay-card-info-placeholder-container {
  padding-top: 0 !important;
}

.PrimerCheckout__errorMessage {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 12px;
  padding: 12px;
  background: rgb(252, 232, 230);
  border-radius: 8px !important;
  color: rgb(234, 67, 53);
}

.PrimerCheckout iframe {
  height: 100% !important;
}

#nation-id {
  outline: none;
  border: 1px solid transparent;
}

#nation-id:focus {
  border: 1px solid #0066CC !important;
}

.PrimerCheckout__apmButton {
  border: none !important;
}
