#extension-root {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999;
}

@keyframes blink { 50% { fill: transparent }}
.dot { 
  animation: 1s blink infinite;
  fill: #333333;
}
.dot:nth-child(2) { animation-delay: 250ms }
.dot:nth-child(3) { animation-delay: 500ms }


.dot:nth-child(3) {
  animation-delay: 500ms;
}
